
<div class="flex flex-col justify-center items-center py-6 w-full">
  <div class="flex flex-row justify-center items-center py-6 w-full max-w-400">
      <app-search-input
          class="py-4 w-full"
          [placeholder]="'Buscar peliculas...'"
          [data]="films"
          [keys]="searchKeys"
          (emitSearch)="showFilteredFilms($event)"
      ></app-search-input>
  </div>
  <div class="flex gap-4 flex-wrap">
    <div *ngFor="let movie of filteredFilms">
      <app-film-card class="flex-grow" [goToUrl]="'/'" [imageUrl]="movie.cover" [id]="movie.id.toString()"></app-film-card>
    </div>
  </div>
</div>
