<div class="flex flex-col">
  <p *ngIf="label" class="text label">{{ label }}</p>
  <div class="input-wrapper">
    <input
      class="input"
      [type]="showPassword ? 'text' : 'password'"
      [attr.placeholder]="placeholder"
      [formControlName]="formControlName"
      [attr.aria-label]="ariaLabel"
      title="password"
    />
    <button type="button" class="input__icon input__icon--white flex" (click)="togglePasswordVisibility()">
      <img [src]="imgIcon" alt="Toggle visibility" >
    </button>
  </div>
</div>
