@import '/src/assets/styles/_variables.scss';

.movie-card {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  width: fit-content;
  border-radius: 8px;
  border: 3px solid transparent;
  transition: border-color 0.2s ease-in-out;
  border-radius: 8px;
  width: 232px;
  height: 352px;
  &:hover {
    border-color: $text-color;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out ;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;

  .action-button {
    background: none;
    border: none;
    color: $text-color;
    font-size: 1.5rem;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.movie-card:hover .overlay {
  opacity: 1;
}
