<form [formGroup]="form" (ngSubmit)="handleSubmit()" class="flex flex-col gap-4 justify-center items-center h-full" >
  <div class="flex flex-col justify-start items-center">
    <h2 class="title title--medium mb-0">Create an account</h2>
    <p class="text">Start tracking your favorite movies</p>
  </div>
  <div class="input-wrapper w-300">
    <input class="input" type="text" placeholder="username" formControlName="username" data-testid="username-input">
  </div>
  <div class="input-wrapper w-300">
    <input class="input" type="text" placeholder="email" formControlName="email" data-testid="email-input">
  </div>
  <app-password-input class="w-300" formControlName="password" data-testid="password-input"></app-password-input>
  <app-password-input class="w-300" formControlName="password2" data-testid="password2-input" [placeholder]="'Repeat password'" [ariaLabel]="'Repeat password'"></app-password-input>
  <button class="button button--primary w-300" type="submit" data-testid="register-button" [disabled]="!formValid">Sign up</button>
  <a [routerLink]="'/auth/login'" class="text text--small lighter" data-testid="login-link">Have an account? Sign in</a>
</form>
