<div class="home">
  <app-backdrop-image [imageUrl]="posterUrl"></app-backdrop-image>
  <div class="flex flex-col gap-6 justify-start items-center py-6">
    <h1 class="title title--large lighter">Welcome back. Here's what we've been watching</h1>
    <div class="flex gap-4 flex-wrap justify-between recommended-movies-container">
      <div *ngFor="let movie of recommendedFilms">
        <!-- le paso data como parámetro, pero en un cuando este el servicio de film/:id esa data la va a ir a buscar con el id -->
        <app-film-card [data]="movie" [id]="movie.id"></app-film-card>
      </div>
    </div>
  </div>

</div>
