
@import '/src/assets/styles/_variables.scss';

.auth-container {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: $text-color;
}

.auth-card {
  background-color: $background-light-color;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}
.logo {
  img {
    max-width: 120px;
  }
}
