<div class="flex flex-col gap-4 justify-start items-center h-full">
  <div class="flex flex-col justify-start mt-0 mb-6">
    <h2 class="title title--medium mt-0 mb-0">Reset yout password</h2>
    <p class="text">We'll email you a link to create a new one.</p>
  </div>
  <div class="input-wrapper w-300">
    <input class="input" type="text" placeholder="Email or username">
  </div>
  <button class="button button--primary w-300">Continue</button>
  <a [routerLink]="'/auth/register'" class="text text--small lighter">Don’t have an account? Sign up</a>
</div>
