@import 'variables';

.button {
  display: inline-block;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: $border-radius;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease, border 0.3s ease;

  &--primary {
    background: $primary-color;
    color: $text-color;
    border: none;

    &:hover {
      background: lighten($primary-color, 20%);
    }
  }
  &--action {
    background: #fff;
    color: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

    &:hover {
      background: darken(#fff, 20%);
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
  &--secondary {
    background: transparent;
    border: 2px solid $text-color;
    color: $text-color;

    &:hover {
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }

  &--ghost {
    background: transparent;
    border: none;
    color: $text-color;

    &:hover {
      opacity: .7;
    }
  }

  &--w-lg {
    max-width: 200px;
    width: 100%;
  }

  &--w-m {
    max-width: 120px;
  }

  &--w-full {
    width: 100%;
  }
}
