@import 'variables';

.card {
    border-radius: 16px;
    &--secondary {
        background-color: $border-color
    }
}

.card-small {
  width: 174px;
  height: 264px;
}

.card-medium {
  width: 232px;
  height: 352px;
}

.card-large {
  width: 290px;
  height: 440px;
}
