// Colores
$primary-color: #e50914;
$secondary-color: #b81d24;
$background-color: #141414;
$text-color: #fff;
$text-color-secondary: #b3b3b3;
$border-color: #333;
$full-black: #000;

// Tipografía
$font-family: 'Arial', sans-serif;

// Espaciados
$border-radius: 4px;
$input-padding: 12px;

// Espaciados para márgenes y paddings
$spacing-values: (
  0: 0px,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 24px,
  6: 32px
);
