// Colores
$primary-color: #e50914;
$secondary-color: #b81d24;
$background-color: #141414;
$background-light-color: #1c1c1c;
$text-color: #fff;
$text-color-light: #ccc;
$text-color-secondary: #b3b3b3;
$border-color: #333;
$full-black: #000;
$chip-background-color: #4a4a4a;
$error-color: #ff4d4f;
// Tipografía
$font-family: 'Arial', sans-serif;

// Espaciados
$border-radius: 4px;
$input-padding: 12px;

// Espaciados para márgenes y paddings
$spacing-values: (
  0: 0px,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 24px,
  6: 32px
);

// Generar clases de width, min-width, max-width y height, min-height, max-height en píxeles
.w-full { width: 100% !important; }
.w-auto { width: auto !important; }
.h-full { height: 100% !important; }
.h-auto { height: auto !important; }

// el valor máximo que puedo poner es 1000
@for $i from 1 through 1200 {

  .w-#{$i}, .min-w-#{$i}, .max-w-#{$i} {
    width: #{$i}px !important;
  }

  .h-#{$i}, .min-h-#{$i}, .max-h-#{$i} {
    height: #{$i}px !important;
  }
}

// valores para media query
$breakpoint-sm: 480px; // mobile
$breakpoint-md: 768px; // tablet
$breakpoint-lg: 1024px; // desktop
