// Colores
$primary-color: #e50914; 
$secondary-color: #b81d24; 
$background-color: #141414; 
$text-color: #fff; 
$border-color: #333;

// Tipografía
$font-family: 'Arial', sans-serif;

// Espaciados
$border-radius: 4px;
$input-padding: 12px;
