@import 'variables';
@import 'buttons';
@import 'inputs';
@import 'typography';
@import 'spacing';
@import 'flex';
@import 'cards';

body {
  font-family: $font-family;
  background: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
