<div class="nav-bar flex flex-row justify-between items-center p-6">
    <div class="nav-bar__menu flex flex-row justify-start items-center">
        <div class="nav-bar__logo">
            <img [src]="logoPath " alt="logo">
        </div>
        <div class="nav-bar__list flex flex-row justify-between items-center p-4">
            <div *ngFor="let item of navLinks" class="nav-bar__item" (click)="redirectTo(item.path)" (keydown)="handleKeydown($event, item.path)"  tabindex="0">
                <span class="nav-bar__link bold button button--ghost">{{ item.name }}</span>
            </div>
        </div>
    </div>
    <div class="nav-bar__search">
        <app-search-input></app-search-input>
    </div>
</div>