<div>
    tipografia
    <div class="flex flex-col">
        <h1 class="title title--large">Películas y series</h1>
        <p class="text">Titulo h1</p>
        <br>
        <h2 class="title title--medium">Las más populares</h2>
        <p class="text">Titulo h2</p>
        <br>
        <p class="text">Disfruta de una gran selección de películas y series.</p>
        <p class="text">Texto</p>
    </div>
    <br>
    <div class="flex flex-col">
        botones (ancho)
        <button class="button button--primary button--w-lg my-2">200px</button>
        <button class="button button--primary button--w-m my-2">120px</button>
        <button class="button button--primary button--w-full my-2">Full Width</button>
    
        <button class="button button--secondary button--w-lg my-2">Max 200px</button>
        <button class="button button--secondary button--w-m my-2">Min 120px</button>
        <button class="button button--secondary button--w-full my-2">Full Width</button>
    
        <button class="button button--ghost button--w-lg my-2">Max 200px</button>
        <button class="button button--ghost button--w-m my-2">Min 120px</button>
        <button class="button button--ghost button--w-full my-2">Full Width</button>
    </div>
    <br>
    <div class="flex flex-col">
        inputs 
    <br>
        <input class="input" type="text" placeholder="Buscar...">
        <br>
        <div class="input-wrapper">
        <input class="input" type="text" placeholder="Buscar películas o series">
        <span class="input__icon">🔍</span>
        </div>
        <select class="input">
            <option>Opción 1</option>
            <option>Opción 2</option>
        </select>
        <br>
    </div>
    
</div>